.grid-container {
  margin: 20px;
 
}


.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  
}

.component{
  position: absolute; 
  top: 80 px; 
  left: 100 px;
  border: 5px dotted;
  padding :10px;
  margin:20px;
  display: grid;
 display: table-cell;
 vertical-align: middle;
 align-self: center;
 padding-right:90px;
 



}
.text1{
  padding-right:90px;
}


